<div class="container" *ngIf="open">
  <div class="section-card">
    <div class="d-flex">
      <h4 class="title text-white">Destaque Filmes Popular</h4>
      <a routerLink="/{{category}}" class="view">Ver todos</a>
    </div>
    <div class="row" >
      <div class="col-lg-2 col-4" *ngFor="let movie of moviesLimited">
        <app-card [movie]="movie"></app-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="openCategory">
  <app-categories [movies]="movies" [totalItems]="totalItems" (pageEmit)="emitPage($event)"></app-categories>
</div>


