<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="overlay"></div>
    <div class="carousel-item active">
        <div class="slide" style="background: url(https://image.tmdb.org/t/p/w500/wu1uilmhM4TdluKi2ytfz8gidHf.jpg)" ></div>
          <div class="carousel-caption d-md-block">
            <div class="row align-items-center  h-100">
              <div class="col-xl-6 col-lg-12 col-md-12">
                <h1 class="slider-text title text-uppercase">Bob Esponja: O Incrível Resgate</h1>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
