@import '~bootstrap/dist/css/bootstrap.min.css';


:root {
  --theme-primary: #e50914;
  --theme-secondary: #d1d0cf;
  --theme-background: #000000;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--theme-background);
}

a:hover {
  text-decoration: none;
}

.overlay {
  background-color: var(--theme-background);
  opacity: .5;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 9;
}

.section-card {
  padding: 4rem 0;
  .d-flex {
    justify-content: space-between;
    padding-bottom: .5rem;
    align-items: center;
  }
}
a.view {
  color: var(--theme-primary);
  &:hover {
    opacity: .8;
  }
}

@media (max-width: 768px) {
  .section-card {
    .row {
      overflow: auto;
      overflow-y: hidden;
      flex-wrap: inherit;
    }
    .d-flex {
      flex-flow: column;
    }
  }
}



